<ion-view view-title="{{'DECKSTORE.Buy-deck' | translate}}" class="deckstore buyDeck">

	<!-- Header -->
    <ion-nav-bar class="bar-stable transparentBackground" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content>

        <!-- Title -->
        <div class="row deckTitle">
            <div class="col-60 text-left">
                <h2>{{storeElement.deck.name}}</h2>
            </div>
            <div class="col-40 text-left">
                <button class="button button-stable" ng-click="buyDeck(storeElement.isOwned)">
                    <a ng-show="storeElement.price > 0 && !storeElement.isOwned">
                        <i class="icon ion-android-cart"></i>
                        {{storeElement.price}} {{'DECKSTORE.Currency' | translate}}
                    </a>
                    <a ng-show="storeElement.price <= 0 && !storeElement.isOwned">
                        <i class="icon ion-android-cart"></i>
                        {{'DECKSTORE.Free' | translate}}
                    </a>
                    <a ng-show="storeElement.isOwned">
                        {{'DECKSTORE.Owned' | translate}}
                    </a>
                </button>
            </div>
        </div>

        <!-- Author -->
        <div class="row deckAuthor">
            <div class="col text-left">
                <h4>{{'DECKSTORE.Created-by' | translate}} {{storeElement.author.name}}</h4>
            </div>
        </div>

        <!-- Description -->
        <div class="row deckDescription">
            <div class="col text-center">
                <p>{{storeElement.description}}</p>
            </div>
        </div>

	</ion-content>

</ion-view>