<ion-view view-title="{{'CREATEDECK.Create-deck' | translate}}" class="createDeck">

	<!-- Header -->
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content>
        <div class="list listNoBottomPadding">
            <!-- Deck name -->
            <div class="item">
                <input type="text" ng-model="currentDeck.name" placeholder="{{'CREATEDECK.Deck-name' | translate}}">
            </div>
            <!-- Tags -->
            <div class="item tagLabel" ng-show="currentDeck.tags.length > 0">
                <div class="tagBadge" ng-repeat="tagName in currentDeck.tags" ng-click="removeTag(tagName)">
                    {{tagName}} <i class="ion-close-circled"></i>
                </div>
            </div>
            <div class="item tagInputLabel">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{'CREATEDECK.Tags' | translate}}" ng-model="search.value" ng-change="searchForTags()">
            </div>
            <!-- Autocomplete results -->
            <div class="list autoCompleteTagsList">
                <a class="item" ng-repeat="result in search.foundTags" ng-click="addTag(result)">{{result}}</a>
            </div>
        </div>

        <!-- Image uploader -->
        <div class="row h-30">
            <div class="whiteCircle darker">
                <img src="img/uploadImageLogo.png">
            </div>
        </div>
	</ion-content>

    <!-- Add card button -->
    <div class="bar bar-footer bar-balanced addSomethingButton">
        <div class="row">
            <div class="col col-center">
                {{'CREATEDECK.Add-card' | translate}}
            </div>
            <button class="button button-large button-energized" ng-click="goToCreateCard()">
                <i class="ion-plus"></i>
            </button>
        </div>
    </div>
</ion-view>