<ion-view view-title="{{'CREATEDECK.Create-deck' | translate}}" class="createDeck">

	<!-- Header -->
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content>
	</ion-content>

    <!-- Add card button -->
    <div class="bar bar-footer bar-balanced addSomethingButton">
        <div class="row">
            <div class="col col-center">
                {{'CREATEDECK.Add-card' | translate}}
            </div>
            <button class="button button-large button-energized" ui-sref="menu.createCard()">
                <i class="ion-plus"></i>
            </button>
        </div>
    </div>
</ion-view>