<ion-view view-title="{{getTitle()}}" class="deckstore">

	<!-- Header -->
    <ion-nav-bar class="bar-stable transparentBackground" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content id="deckstoreDisplayScroll">

        <!-- New decks -->
        <ion-scroll class="seeAllDeckStore" zooming="false" direction="y">

            <!-- Deck -->
            <div class="storeElement" ng-repeat="storeElement in getDecks()" maintain-ratio-height>
                <div store-element my-store-element="storeElement" show-description="true"></div>
            </div>

            <ion-infinite-scroll on-infinite="isScrolling()" distance="1%"></ion-infinite-scroll>

        </ion-scroll>

	</ion-content>

</ion-view>