<ion-view view-title="{{'DECKSTORE.Deckstore' | translate}}" class="deckstore">

	<!-- Header -->
    <ion-nav-bar class="bar-stable transparentBackground" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content scroll="false">

        <!-- Search -->
        <div class="row h-10 searchStore">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <form ng-submit="searchDeckstore(searchValue)">
                    <input type="search" ng-model="searchValue" placeholder="{{'DECKSTORE.Search' | translate}}">
                </form>
            </label>
        </div>

        <!-- New decks -->
        <div class="decksStoreContainer newDecksStore">
            <div class="row">
                <div class="col text-left storeTitle">
                    <span>{{'DECKSTORE.New-decks' | translate}}</span>
                </div>
                <div class="col text-right seeAllButton" ng-click="goToSeeAllNewStoreDecks()">
                    <span>{{'DECKSTORE.See-all' | translate}}</span>
                </div>
            </div>
            <ion-scroll class="storeElementContainer" zooming="false" direction="x">
                <!-- Deck -->
                <div class="storeElement" ng-repeat="storeElement in getNewStoreDecks()" maintain-ratio-width>
                    <div store-element my-store-element="storeElement" show-description="false"></div>
                </div>
            </ion-scroll>
        </div>

        <!-- Popular decks -->
        <div class="decksStoreContainer popularDecksStore">
            <div class="row">
                <div class="col text-left storeTitle">
                    <span>{{'DECKSTORE.Popular-decks' | translate}}</span>
                </div>
                <div class="col text-right seeAllButton" ng-click="goToSeeAllPopularStoreDecks()">
                    <span>{{'DECKSTORE.See-all' | translate}}</span>
                </div>
            </div>
            <ion-scroll class="storeElementContainer" zooming="false" direction="x">
                <!-- Deck -->
                <div class="storeElement" ng-repeat="storeElement in getPopularStoreDecks()" maintain-ratio-width>
                    <div store-element my-store-element="storeElement" show-description="false"></div>
                </div>
            </ion-scroll>
        </div>

        <!-- User's decks -->
        <div class="decksStoreContainer userDecksStore">
            <div class="row">
                <div class="col text-left storeTitle">
                    <span>{{'MYDECKS.My-decks' | translate}}</span>
                </div>
                <div class="col text-right seeAllButton" ng-click="goToSeeAllUserStoreDecks()">
                    <span>{{'DECKSTORE.See-all' | translate}}</span>
                </div>
            </div>
            <ion-scroll class="storeElementContainer" zooming="false" direction="x">
                <!-- Deck -->
                <div class="storeElement" ng-repeat="storeElement in getUserStoreDecks()" maintain-ratio-width>
                    <div store-element my-store-element="storeElement" show-description="false"></div>
                </div>
            </ion-scroll>
        </div>

	</ion-content>

</ion-view>