<ion-view view-title="{{currentDeck.name}}" class="displayCard">

	<!-- Header -->
    <ion-nav-bar class="bar-stable transparentBackground" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content scroll="false">

        <!-- Card -->
        <div class="row text-center h-80">
            <div class="col list card">

                <div class="item itemHeader">
                    <h2>{{currentCard.question}}</h2>
                    <h1 ng-show="flipped">{{currentCard.answer}}</h1>
                </div>

                <div class="item itemFooter" ng-click="rotateCard()" ng-show="flipped == false">
                    <span>
                        <i class="ion-share"></i>
                        {{'DISPLAYCARD.Show-answer' | translate}}
                    </span>
                </div>

            </div>
        </div>

		<!-- Edit and done button -->
		<div class="row text-center h-20 duoButtons">
		    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-3"></div>
		    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 col-bottom">
		        <button ng-click="getPreviousCard()" ng-show="nbCardsSaw > 0 && showButtons" class="button button-outline button-large button-energized">{{'DISPLAYCARD.Previous-card' | translate}}</button>
		    </div>
		    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
		    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 col-bottom">
		        <button ng-click="getNextCard()" ng-show="showButtons" class="button button-large button-energized">{{'DISPLAYCARD.Next-card' | translate}}</button>
		    </div>
		    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-3"></div>
		</div>

	</ion-content>
</ion-view>