<div class="login">
    <!-- Title -->
    <div class="row text-center h-20">
        <div class="col col-center">
            <h1 class="title">{{'UTILS.Title' | translate}}</h1>
        </div>
    </div>
    <!-- Content -->
    <ion-content>
        <!-- Login form -->
        <form ng-submit="login()">
            <div class="list">
                <!-- Username -->
                <label class="item item-input item-floating-label">
                    <div class="col-xs-2 loginIcon">
                        <i class="ion-person"></i>
                    </div>
                    <div class="col-xs-10 loginInput">
                        <input type="email" name="username" ng-model="loginData.email" placeholder="{{'NEWACCOUNT.Email' | translate}}">
                    </div>
                </label>
                <!-- Password -->
                <label class="item item-input item-floating-label">
                    <div class="col-xs-2 loginIcon">
                        <i class="ion-locked"></i>
                    </div>
                    <div class="col-xs-8 loginInput">
                        <input type="password" name="password" ng-model="loginData.password" placeholder="{{'LOGIN.Password' | translate}}">
                    </div>
                    <div class="col-xs-2 loginHelpButton">
                        <i class="ion-ios-help-outline"></i>
                    </div>
                </label>
            </div>
            <!-- Submit button -->
            <button class="button button-large button-energized loginSignIn" type="submit">{{'LOGIN.Sign-in' | translate}}</button>
        </form>
        <!-- Not registred message -->
        <p class="loginNotReg">{{'LOGIN.Not-reg' | translate}} <a ui-sref="newAccount()">{{'NEWACCOUNT.Sign-up' | translate}}</a></p>
        <!-- Social medias buttons -->
        <button class="button button-large button-outline socialMediaButton">
            <div class="socialMediaButtonLogo facebook">
                <i class="ion-social-facebook"></i>
            </div>
            <span>{{'LOGIN.Sign-facebook' | translate}}</span>
        </button>
        <button class="button button-large button-outline socialMediaButton">
            <div class="socialMediaButtonLogo google">
                <i class="ion-social-googleplus"></i>
            </div>
            <span>{{'LOGIN.Sign-google' | translate}}</span>
        </button>
        <button class="button button-large button-outline socialMediaButton">
            <div class="socialMediaButtonLogo twitter">
                <i class="ion-social-twitter"></i>
            </div>
            <span>{{'LOGIN.Sign-twitter' | translate}}</span>
        </button>
    </ion-content>
</div>