<div class="login">
    <ion-header-bar>
        <h1 class="title">{{'UTILS.Title' | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <i class="ion-person"></i>
                    <div class="loginInput">
                        <input type="text" placeholder="Username">
                    </div>
                </label>
                <label class="item item-input item-floating-label">
                    <i class="ion-locked"></i>
                    <div class="loginInput">
                        <input type="text" placeholder="Password">
                    </div>
                </label>
            </div>
        </form>
    </ion-content>
</div>