<ion-side-menus enable-menu-with-back-views="false">
    <!-- Main content (when menu hidden) -->
    <ion-side-menu-content>
        <!-- Content -->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <!-- Menu content -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="row">
                <div class="col col-bottom">
                    <h2>{{UserService.getUsername()}}</h2>
                    <span>{{UserService.getEmail()}}</span>
                </div>
            </div>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-click="goToMyDecks()">
                    {{'MYDECKS.My-decks' | translate}}
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    {{'LOGIN.Logout' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>