<ion-view view-title="{{'MYACCOUNT.My-account' | translate}}" class="myAccount">

	<!-- Header -->
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Content -->
	<ion-content>

		<!-- User's name -->
		<div class="row">
			<h2>{{getUsername()}}</h2>
		</div>

		<!-- User's mail -->
		<div class="row">
			<h5>{{getEmail()}}</h5>
		</div>

		<!-- Informations -->
		<div class="row text-center accountInfosValues">
			<div class="col">
				{{getNbDecks()}}
			</div>
			<div class="col">
				{{getNbDecksSold()}}
			</div>
			<div class="col">
				{{getNbDecksOnSale()}}
			</div>
		</div>
		<div class="row text-center accountInfos">
			<div class="col">
				{{'MYACCOUNT.Decks' | translate}}
			</div>
			<div class="col">
				{{'MYACCOUNT.Decks-sold' | translate}}
			</div>
			<div class="col">
				{{'MYACCOUNT.Decks-on-sale' | translate}}
			</div>
		</div>

		<hr>

		<!-- Connect Paypal button -->
		<!-- <button class="button button-outline button-dark" ng-click="connectPaypal()">
			{{'MYACCOUNT.Connect-with' | translate}}
			<img src="img/paypalIcon.png">
		</button>  -->

	</ion-content>

	<!-- Logout button -->
	<div class="bar bar-footer bar-light">
		<div class="row text-center">
			<div class="col">
				<span ng-click="logout()">
	                <span class="ion-log-out"></span>
	                {{'LOGIN.Logout' | translate}}
				</span>
			</div>
		</div>
	</div>
</ion-view>