<ion-view view-title="{{'MYDECKS.My-decks' | translate}}" class="myDecks">

	<!-- Header -->
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-more" ng-click="openPopover($event)"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Popover (top right button) -->
	<script id="myDecksPopover.html" type="text/ng-template">
		<ion-popover-view class="myDecksPopover">
			<ion-content>
				<div class="list">
					<a class="item popItem" ng-click="refreshDecks()">{{'MYDECKS.Refresh-decks' | translate}}</a>
					<a class="item popItem">{{'MYDECKS.Import-deck' | translate}}</a>
					<a class="item popItem lastItem">Other actions</a>
				</div>
			</ion-content>
		</ion-popover-view>
	</script>

    <!-- Content -->
	<ion-content>

		<!-- Working spinner -->
		<div class="row text-center" ng-show="gettingDecks == true">
			<div class="col">
				<ion-spinner class="spiral spinner-energized"></ion-spinner>
			</div>
		</div>

		<!-- My deck(s) -->
		<ul class="list" ng-show="myDecksTabsActivated == true">
			<a ng-repeat="deck in getDecks()" class="item item-avatar" ng-click="displayDeck(deck, false)" on-hold="deleteDeck(deck)">
				<h2>{{deck.name}}</h2>
				<p>
					<i class="ion-ios-eye-outline"></i>
					<span> {{numberUnseenCards(deck)}} {{'MYDECKS.Unseen-cards' | translate}}</span>
				</p>
			</a>
		</ul>

		<!-- Owned deck(s) -->
		<ul class="list" ng-show="myDecksTabsActivated == false">
			<a ng-repeat="storeElement in getOwnedDecks()" class="item item-avatar" ng-click="displayDeck(storeElement.deck, true)">
				<h2>{{storeElement.deck.name}}</h2>
				<p>
					<span>{{'DECKSTORE.Created-by' | translate}} {{storeElement.authorName}}</span>
				</p>
			</a>
		</ul>

	</ion-content>

	<!-- Add deck button -->
	<!-- <div class="bar bar-footer bar-balanced addSomethingButton">
		<div class="row">
			<div class="col col-center">
				{{'MYDECKS.Add-deck' | translate}}
			</div>
			<button class="button button-large button-energized" ui-sref="menu.createDeck()">
				<i class="ion-plus"></i>
			</button>
		</div>
	</div> -->

	<!-- Tabs -->
	<div class="tabs-striped tabs-color-energized myDecksTabs">
		<div class="tabs tabs-icon-top">
			<a class="tab-item" ng-class="myDecksTabsActivated == true ? 'active' : ''" ng-click="myDecksTabsActivated = true">
				<i class="icon ion-home"></i>
				{{'MYDECKS.My-decks' | translate}}
			</a>
			<a class="tab-item" ng-class="myDecksTabsActivated == false ? 'active' : ''" ng-click="myDecksTabsActivated = false">
				<i class="icon ion-android-cart"></i>
				{{'MYDECKS.Bought-decks' | translate}}
			</a>
			<a class="tab-item" ui-sref="menu.createDeck()">
				<i class="icon ion-plus"></i>
				{{'MYDECKS.Add-deck' | translate}}
			</a>
		</div>
	</div>

</ion-view>