<div class="onBoard">
    <!-- Title -->
    <div class="row text-center h-20">
        <div class="col col-10"></div>
        <div class="col col-80 col-center">
            <h1>{{'UTILS.Title' | translate}}</h1>
        </div>
        <div class="col col-10"></div>
    </div>

    <!-- Image -->
    <div class="row text-center h-30">
        <div class="col col-33"></div>
        <div class="col col-33 whiteCircleContainer">
            <div class="whiteCircle"></div>
            <div class="whiteCircleLogo page2"></div>
        </div>
        <div class="col col-33"></div>
    </div>

    <!-- Text -->
    <div class="row text-center h-20">
        <div class="col col-10"></div>
        <div class="col col-80 col-center">
            <h4>{{'ONBOARD.Text-page2' | translate}}</h4>
        </div>
        <div class="col col-10"></div>
    </div>

    <!-- Indicator -->
    <div class="row text-center h-10 indicators">
        <div class="col col-10"></div>
        <div class="col col-80 col-bottom">
            <i class="ion-record"></i>
            <i class="ion-record active"></i>
            <i class="ion-record"></i>
        </div>
        <div class="col col-10"></div>
    </div>

    <div class="row text-center h-20 onBoardingButtons">
        <!-- Skip and next buttons -->
        <div class="col col-50 col-bottom">
            <button ui-sref="login()" class="button button-outline button-large button-energized">{{'ONBOARD.Skip-button' | translate}}</button>
        </div>
        <div class="col col-50 col-bottom">
            <button ui-sref="onBoarding3()" class="button button-large button-energized">{{'ONBOARD.Next-button' | translate}}</button>
        </div>
    </div>
</div>